#appCrisis ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#appCrisis ul li {
    padding: 0;
    margin: 0;
}

#appCrisis .padding {
    padding: 0 10px 10px 10px;
}

#appCrisis input {
    margin: 3px 0;
}